*{
    padding: 2px;
    box-sizing: border-box;
    text-align: center;
}

.Index{
background-color: antiquewhite;
}
.Fysiklär{
    background-color: antiquewhite;
    color: #1F1F1F;
    text-align: center;
    justify-content: center;
}

.FysikTesta{
    background-color:antiquewhite;
    color: #1F1F1F;
    text-align: center;
    justify-content: center;
}

nav ul {
    display: flex;
    gap: 1rem;
    padding: 0;
    margin: 0;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    
}

nav ul li {
    margin: 0;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

.Navigation {
    background-color: antiquewhite;
}

.Homebtn {
    color: white;
}

.text{
    user-select: none;
    border-color: white;
    text-align: left;
}
.Lås {
    user-select: none;
    border-color: white;
}
button {
    background-color: antiquewhite;
    color: black;
    border: none;
    border-radius: 2px;
    border-color: 0px 0px 5px 1px white;
    border-width: 1px;
    box-sizing: border-box;
    width: 100px;
    height: 40px;
    transition: transform(0.1s);
}

button:hover {
    background-color: whitesmoke;
    transform: scale(1.05);
}

#SignUpBtn,
#SignInBtn {
    border: 1px solid white;
    border-width: 3px;
    box-sizing: border-box;
    border-color: 0px 0px 5px 1px white;
}
.indexbody {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.fysiklärcontainer{
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 90%;
    margin: auto;
}
.box2 .bilder{
    width: 100%;
    max-width: 400px;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
}
.box2{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 40px;
    align-items: center;
    background-color: antiquewhite;
    border-radius: 20px;
    padding: 20px;
}

.box {
  background-color: #f5f5f5;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  width: 250px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  
}

.box h2 {
  font-size: 18px;
  margin-bottom: 10px;
}
.Fysiklär h2 {
    margin-bottom: 0;
}

.Footer {
    background-color: #1F2937;
    color: #E5E7EB;
    text-align: center;
    font-size: 18px;
}

@media (max-width: 768px) {
    .box2 {
        grid-template-columns: 1fr;
    }

    .text {
        order: 1;
        text-align: left;
    }

    .Lås {
        order: 2;
    }
}